<div class="page-header">

  <% is_my_page = current_user == @user %>
  <% if !is_my_page %>
  <h3><%= @user.username %></h3>
  <% else %>
  <h3>My Page</h3>
  <% end %>

  <% following = FriendRequest.find_by(sender_id: current_user.id, recipient_id: @user.id) %>
  <% is_following = (following != nil) %>
  <% if !is_my_page %>



  <% if is_following %>
  <form action="/delete_friend_request/<%= following.id %>" method="get">
    <button class="btn btn-link">
      <i class="fa fa-user-times" aria-hidden="true"></i>
    </button>
  </form>
  Unfollow


  <% else %>
  <form action="/create_friend_request" method="post">
    <button class="btn btn-link">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
    </button>
    <input name="sender_id" type="hidden" value="<%= current_user.id %>">
    <input name="recipient_id" type="hidden" value="<%= @user.id %>">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  </form>
  Follow
  <% end %>
  <% end %>
</div>

<% if is_my_page %>
Search for a User by Username or Email:
<%= form_tag users_path, :method => "get" do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
</p>
<% end %>
<% end %>




<!-- A User has many friend_requests_sent -->

<!-- <div class="row">
<div class="col-md-12">
<ul class="list-group">
<li class="list-group-item list-group-item-info">
Friend Requests Sent
</li>

<% @user.friend_requests_sent.each do |friend_request| %>
<li class="list-group-item">
<a href="/friend_requests/<%= friend_request.id %>">
<%= friend_request.sender_id %>
</a>
<div class="btn-group btn-group-xs pull-right">
<a href="/friend_requests/<%= friend_request.id %>" class="btn btn-primary">
<i class="fa fa-search-plus"></i>
</a>
<%if current_user == friend_request.recipient %>
<a href="/friend_requests/<%= friend_request.id %>/edit" class="btn btn-warning">
<i class="fa fa-edit"></i>
</a>
<a href="/delete_friend_request/<%= friend_request.id %>" class="btn btn-danger" rel="nofollow">
<i class="fa fa-trash-o"></i>
</a>
<% end %>
</div>
</li>
<% end %>
</ul>
</div>
</div> -->

<!-- A User has many friend_requests_received -->

<!-- <div class="row">
<div class="col-md-12">
<ul class="list-group">
<li class="list-group-item list-group-item-info">
Friend Requests Received
</li>

<% @user.friend_requests_received.each do |friend_request| %>
<li class="list-group-item">
<a href="/friend_requests/<%= friend_request.id %>">
<%= friend_request.sender_id %>
</a>
<div class="btn-group btn-group-xs pull-right">
<a href="/friend_requests/<%= friend_request.id %>" class="btn btn-primary">
<i class="fa fa-search-plus"></i>
</a>
<%if current_user == friend_request.recipient %>
<a href="/friend_requests/<%= friend_request.id %>/edit" class="btn btn-warning">
<i class="fa fa-edit"></i>
</a>
<a href="/delete_friend_request/<%= friend_request.id %>" class="btn btn-danger" rel="nofollow">
<i class="fa fa-trash-o"></i>
</a>
<% end %>
</div>
</li>
<% end %>
</ul>
</div>
</div> -->

<!-- A User has many following -->

<% if is_following or is_my_page %>

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Followers
      </li>

      <% @user.followers.each do |user| %>
      <li class="list-group-item">
        <a href="/users/<%= user.id %>">
          <%= user.username %>
        </a>
      </li>
      <% end %>
    </ul>

  </div>


  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Following
      </li>

      <% @user.following.each do |user| %>
      <li class="list-group-item">
        <a href="/users/<%= user.id %>">
          <%= user.username %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>


  <!-- A User has many followers -->


</div>


<!-- A User has many playlists -->




<div class="row">
  <div class="col-md-12">

    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <% if is_my_page %>
        My Playlists
        <a href="/playlists/new" class="btn btn-md btn-success">Create New</a>
        <% else %>
        <%= @user.username %>'s Playlists
        <% end %>
      </li>
      <% has_playlists = @user.playlists.count > 0 %>
      <% if has_playlists %>
      <% @user.playlists.each do |playlist| %>
      <li class="list-group-item">
        <a href="/playlists/<%= playlist.id %>">
          <%= playlist.name %>
        </a>
        <div class="btn-group btn-group-xs pull-right">
          <%if current_user == playlist.user %>
          <a href="/playlists/<%= playlist.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <a href="/delete_playlist/<%= playlist.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
          <% end %>
          <% end %>

        </div>


      </li>


      <% end %>
    </ul>
  </div>
</div>
<% end %>
