<div class="page-header">
  <h3><%= @song.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @song.name %></dd>

      <dt>Artist</dt>
      <dd><%= @song.artist %></dd>

      <dt>Genre</dt>
      <dd><%= @song.genre %></dd>

      <dt>Year</dt>
      <dd><%= @song.year %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/playlists/<%= params[:playlist_id] %>" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
